.container
    margin 0 auto
    max-width 1280px
    width 90%
    .row
        margin-left -0.75rem
        margin-right -0.75rem

@media only screen and (min-width: 601px)
    .container
        width 85%

@media only screen and (min-width: 993px)
    .container
        width 70%

.section
    padding-top 1rem
    padding-bottom 1rem
    &.no-pad
        padding 0
    &.no-pad-bot
        padding-bottom 0
    &.no-pad-top
        padding-top 0

.row
    margin-left auto
    margin-right auto
    margin-bottom 20px
    &:after
        content ""
        display table
        clear both
    .col
        float left
        box-sizing border-box
        padding 0 0.75rem
        min-height 1px
        &.s1
            width 8.3333333333%
        &.s2
            width 16.6666666667%
        &.s3
            width 25%
        &.s4
            width 33.3333333333%
        &.s5
            width 41.6666666667%
        &.s6
            width 50%
        &.s7
            width 58.3333333333%
        &.s8
            width 66.6666666667%
        &.s9
            width 75%
        &.s10
            width 83.3333333333%
        &.s11
            width 91.6666666667%
        &.s12
            width 100%
        &.offset-s1
            margin-left 8.3333333333%
        &.pull-s1
            right 8.3333333333%
        &.push-s1
            left 8.3333333333%
        &.offset-s2
            margin-left 16.6666666667%
        &.pull-s2
            right 16.6666666667%
        &.push-s2
            left 16.6666666667%
        &.offset-s3
            margin-left 25%
        &.pull-s3
            right 25%
        &.push-s3
            left 25%
        &.offset-s4
            margin-left 33.3333333333%
        &.pull-s4
            right 33.3333333333%
        &.push-s4
            left 33.3333333333%
        &.offset-s5
            margin-left 41.6666666667%
        &.pull-s5
            right 41.6666666667%
        &.push-s5
            left 41.6666666667%
        &.offset-s6
            margin-left 50%
        &.pull-s6
            right 50%
        &.push-s6
            left 50%
        &.offset-s7
            margin-left 58.3333333333%
        &.pull-s7
            right 58.3333333333%
        &.push-s7
            left 58.3333333333%
        &.offset-s8
            margin-left 66.6666666667%
        &.pull-s8
            right 66.6666666667%
        &.push-s8
            left 66.6666666667%
        &.offset-s9
            margin-left 75%
        &.pull-s9
            right 75%
        &.push-s9
            left 75%
        &.offset-s10
            margin-left 83.3333333333%
        &.pull-s10
            right 83.3333333333%
        &.push-s10
            left 83.3333333333%
        &.offset-s11
            margin-left 91.6666666667%
        &.pull-s11
            right 91.6666666667%
        &.push-s11
            left 91.6666666667%
        &.offset-s12
            margin-left 100%
        &.pull-s12
            right 100%
        &.push-s12
            left 100%

.row .col[class*="push-"],
.row .col[class*="pull-"]
    position relative

.row .col.s1,
.row .col.m1,
.row .col.l1,
.row .col.xl1
    margin-left auto
    left auto
    right auto

.row .col.s2,
.row .col.m2,
.row .col.l2,
.row .col.xl2
    margin-left auto
    left auto
    right auto

.row .col.s3,
.row .col.m3,
.row .col.l3,
.row .col.xl3
    margin-left auto
    left auto
    right auto

.row .col.s4,
.row .col.m4,
.row .col.l4,
.row .col.xl4
    margin-left auto
    left auto
    right auto

.row .col.s5,
.row .col.m5,
.row .col.l5,
.row .col.xl5
    margin-left auto
    left auto
    right auto

.row .col.s6,
.row .col.m6,
.row .col.l6,
.row .col.xl6
    margin-left auto
    left auto
    right auto

.row .col.s7,
.row .col.m7,
.row .col.l7,
.row .col.xl7
    margin-left auto
    left auto
    right auto

.row .col.s8,
.row .col.m8,
.row .col.l8,
.row .col.xl8
    margin-left auto
    left auto
    right auto

.row .col.s9,
.row .col.m9,
.row .col.l9,
.row .col.xl9
    margin-left auto
    left auto
    right auto

.row .col.s10,
.row .col.m10,
.row .col.l10,
.row .col.xl10
    margin-left auto
    left auto
    right auto

.row .col.s11,
.row .col.m11,
.row .col.l11,
.row .col.xl11
    margin-left auto
    left auto
    right auto

.row .col.s12,
.row .col.m12,
.row .col.l12,
.row .col.xl12
    margin-left auto
    left auto
    right auto

@media only screen and (min-width: 601px)
    .row
        .col
            &.m1
                width 8.3333333333%
            &.m2
                width 16.6666666667%
            &.m3
                width 25%
            &.m4
                width 33.3333333333%
            &.m5
                width 41.6666666667%
            &.m6
                width 50%
            &.m7
                width 58.3333333333%
            &.m8
                width 66.6666666667%
            &.m9
                width 75%
            &.m10
                width 83.3333333333%
            &.m11
                width 91.6666666667%
            &.m12
                width 100%
            &.offset-m1
                margin-left 8.3333333333%
            &.pull-m1
                right 8.3333333333%
            &.push-m1
                left 8.3333333333%
            &.offset-m2
                margin-left 16.6666666667%
            &.pull-m2
                right 16.6666666667%
            &.push-m2
                left 16.6666666667%
            &.offset-m3
                margin-left 25%
            &.pull-m3
                right 25%
            &.push-m3
                left 25%
            &.offset-m4
                margin-left 33.3333333333%
            &.pull-m4
                right 33.3333333333%
            &.push-m4
                left 33.3333333333%
            &.offset-m5
                margin-left 41.6666666667%
            &.pull-m5
                right 41.6666666667%
            &.push-m5
                left 41.6666666667%
            &.offset-m6
                margin-left 50%
            &.pull-m6
                right 50%
            &.push-m6
                left 50%
            &.offset-m7
                margin-left 58.3333333333%
            &.pull-m7
                right 58.3333333333%
            &.push-m7
                left 58.3333333333%
            &.offset-m8
                margin-left 66.6666666667%
            &.pull-m8
                right 66.6666666667%
            &.push-m8
                left 66.6666666667%
            &.offset-m9
                margin-left 75%
            &.pull-m9
                right 75%
            &.push-m9
                left 75%
            &.offset-m10
                margin-left 83.3333333333%
            &.pull-m10
                right 83.3333333333%
            &.push-m10
                left 83.3333333333%
            &.offset-m11
                margin-left 91.6666666667%
            &.pull-m11
                right 91.6666666667%
            &.push-m11
                left 91.6666666667%
            &.offset-m12
                margin-left 100%
            &.pull-m12
                right 100%
            &.push-m12
                left 100%

@media only screen and (min-width: 993px)
    .row
        .col
            &.l1
                width 8.3333333333%
            &.l2
                width 16.6666666667%
            &.l3
                width 25%
            &.l4
                width 33.3333333333%
            &.l5
                width 41.6666666667%
            &.l6
                width 50%
            &.l7
                width 58.3333333333%
            &.l8
                width 66.6666666667%
            &.l9
                width 75%
            &.l10
                width 83.3333333333%
            &.l11
                width 91.6666666667%
            &.l12
                width 100%
            &.offset-l1
                margin-left 8.3333333333%
            &.pull-l1
                right 8.3333333333%
            &.push-l1
                left 8.3333333333%
            &.offset-l2
                margin-left 16.6666666667%
            &.pull-l2
                right 16.6666666667%
            &.push-l2
                left 16.6666666667%
            &.offset-l3
                margin-left 25%
            &.pull-l3
                right 25%
            &.push-l3
                left 25%
            &.offset-l4
                margin-left 33.3333333333%
            &.pull-l4
                right 33.3333333333%
            &.push-l4
                left 33.3333333333%
            &.offset-l5
                margin-left 41.6666666667%
            &.pull-l5
                right 41.6666666667%
            &.push-l5
                left 41.6666666667%
            &.offset-l6
                margin-left 50%
            &.pull-l6
                right 50%
            &.push-l6
                left 50%
            &.offset-l7
                margin-left 58.3333333333%
            &.pull-l7
                right 58.3333333333%
            &.push-l7
                left 58.3333333333%
            &.offset-l8
                margin-left 66.6666666667%
            &.pull-l8
                right 66.6666666667%
            &.push-l8
                left 66.6666666667%
            &.offset-l9
                margin-left 75%
            &.pull-l9
                right 75%
            &.push-l9
                left 75%
            &.offset-l10
                margin-left 83.3333333333%
            &.pull-l10
                right 83.3333333333%
            &.push-l10
                left 83.3333333333%
            &.offset-l11
                margin-left 91.6666666667%
            &.pull-l11
                right 91.6666666667%
            &.push-l11
                left 91.6666666667%
            &.offset-l12
                margin-left 100%
            &.pull-l12
                right 100%
            &.push-l12
                left 100%

@media only screen and (min-width: 1201px)
    .row
        .col
            &.xl1
                width 8.3333333333%
            &.xl2
                width 16.6666666667%
            &.xl3
                width 25%
            &.xl4
                width 33.3333333333%
            &.xl5
                width 41.6666666667%
            &.xl6
                width 50%
            &.xl7
                width 58.3333333333%
            &.xl8
                width 66.6666666667%
            &.xl9
                width 75%
            &.xl10
                width 83.3333333333%
            &.xl11
                width 91.6666666667%
            &.xl12
                width 100%
            &.offset-xl1
                margin-left 8.3333333333%
            &.pull-xl1
                right 8.3333333333%
            &.push-xl1
                left 8.3333333333%
            &.offset-xl2
                margin-left 16.6666666667%
            &.pull-xl2
                right 16.6666666667%
            &.push-xl2
                left 16.6666666667%
            &.offset-xl3
                margin-left 25%
            &.pull-xl3
                right 25%
            &.push-xl3
                left 25%
            &.offset-xl4
                margin-left 33.3333333333%
            &.pull-xl4
                right 33.3333333333%
            &.push-xl4
                left 33.3333333333%
            &.offset-xl5
                margin-left 41.6666666667%
            &.pull-xl5
                right 41.6666666667%
            &.push-xl5
                left 41.6666666667%
            &.offset-xl6
                margin-left 50%
            &.pull-xl6
                right 50%
            &.push-xl6
                left 50%
            &.offset-xl7
                margin-left 58.3333333333%
            &.pull-xl7
                right 58.3333333333%
            &.push-xl7
                left 58.3333333333%
            &.offset-xl8
                margin-left 66.6666666667%
            &.pull-xl8
                right 66.6666666667%
            &.push-xl8
                left 66.6666666667%
            &.offset-xl9
                margin-left 75%
            &.pull-xl9
                right 75%
            &.push-xl9
                left 75%
            &.offset-xl10
                margin-left 83.3333333333%
            &.pull-xl10
                right 83.3333333333%
            &.push-xl10
                left 83.3333333333%
            &.offset-xl11
                margin-left 91.6666666667%
            &.pull-xl11
                right 91.6666666667%
            &.push-xl11
                left 91.6666666667%
            &.offset-xl12
                margin-left 100%
            &.pull-xl12
                right 100%
            &.push-xl12
                left 100%