.page-footer
    padding-top 20px
    background-color #ee6e73
    .footer-copyright
        overflow hidden
        min-height 50px
        display -webkit-flex
        display -ms-flexbox
        display flex
        -webkit-align-items center
        -ms-flex-align center
        align-items center
        padding 10px 0px
        color rgba(255,255,255,0.8)
        background-color rgba(51,51,51,0.08)
