.side-nav
    position fixed
    width 300px
    left 0
    top 0
    margin 0
    -webkit-transform translateX(-100%)
    transform translateX(-100%)
    height 100%
    height calc(100% + 60px)
    height -moz-calc(100%)
    padding-bottom 60px
    background-color #fff
    z-index 999
    overflow-y auto
    will-change transform
    -webkit-backface-visibility hidden
    backface-visibility hidden
    -webkit-transform translateX(-105%)
    transform translateX(-105%)
    &.right-aligned
        right 0
        -webkit-transform translateX(105%)
        transform translateX(105%)
        left auto
        -webkit-transform translateX(100%)
        transform translateX(100%)
    .collapsible
        margin 0
    li
        float none
        line-height 48px
        &.active
            background-color rgba(0,0,0,0.05)
        & > a
            color rgba(0,0,0,0.87)
            display block
            font-size 14px
            font-weight 500
            height 48px
            line-height 48px
            padding 0 32px
            &:hover
                background-color rgba(0,0,0,0.05)
            &.btn-flat
                color #343434
            &.btn-floating
                &:hover
                    background-color #26a69a
    .divider
        margin 8px 0 0 0
    .subheader
        cursor initial
        pointer-events none
        color rgba(0,0,0,0.54)
        font-size 14px
        font-weight 500
        line-height 48px
        &:hover
            background-color transparent
    .userView
        position relative
        padding 32px 32px 0
        margin-bottom 8px
        & > a
            height auto
            padding 0
            &:hover
                background-color transparent
        .background
            overflow hidden
            position absolute
            top 0
            right 0
            bottom 0
            left 0
            z-index -1
        .circle
            height 64px
            width 64px
        .name
            margin-top 16px
            font-weight 500
        .email
            padding-bottom 16px
            font-weight 400
    &.fixed
        left 0
        -webkit-transform translateX(0)
        transform translateX(0)
        position fixed
        &.right-aligned
            right 0
            left auto
    .collapsible-body
        padding 0

.side-nav .collapsible,
.side-nav.fixed .collapsible
    border none
    box-shadow none

.side-nav .collapsible li,
.side-nav.fixed .collapsible li
    padding 0

.side-nav .collapsible-header,
.side-nav.fixed .collapsible-header
    background-color transparent
    border none
    line-height inherit
    height inherit
    padding 0 16px

.side-nav .collapsible-header:hover,
.side-nav.fixed .collapsible-header:hover
    background-color rgba(0,0,0,0.05)

.side-nav .collapsible-header i,
.side-nav.fixed .collapsible-header i
    line-height inherit

.side-nav .collapsible-body,
.side-nav.fixed .collapsible-body
    border 0
    background-color #fff

.side-nav .collapsible-body li a,
.side-nav.fixed .collapsible-body li a
    padding 0 23.5px 0 31px

.side-nav li > a.btn,
.side-nav li > a.btn-large,
.side-nav li > a.btn-flat,
.side-nav li > a.btn-floating
    margin 10px 15px

.side-nav li > a.btn,
.side-nav li > a.btn-large,
.side-nav li > a.btn-floating
    color #fff

.side-nav li > a.btn:hover,
.side-nav li > a.btn-large:hover
    background-color #2bbbad

.side-nav li > a > i,
.side-nav li > a > [class^="mdi-"],
.side-nav li > a li > a > [class*="mdi-"],
.side-nav li > a > i.material-icons
    float left
    height 48px
    line-height 48px
    margin 0 32px 0 0
    width 24px
    color rgba(0,0,0,0.54)

.side-nav .userView .circle,
.side-nav .userView .name,
.side-nav .userView .email
    display block

.side-nav .userView .name,
.side-nav .userView .email
    font-size 14px
    line-height 24px

.drag-target
    height 100%
    width 10px
    position fixed
    top 0
    z-index 998

@media only screen and (max-width: 992px)
    .side-nav
        &.fixed
            -webkit-transform translateX(-105%)
            transform translateX(-105%)
            &.right-aligned
                -webkit-transform translateX(105%)
                transform translateX(105%)
        a
            padding 0 16px
        .userView
            padding 16px 16px 0

.side-nav .collapsible-body > ul:not(.collapsible) > li.active,
.side-nav.fixed .collapsible-body > ul:not(.collapsible) > li.active
    background-color #ee6e73

.side-nav .collapsible-body > ul:not(.collapsible) > li.active a,
.side-nav.fixed .collapsible-body > ul:not(.collapsible) > li.active a
    color #fff

#sidenav-overlay
    position fixed
    top 0
    left 0
    right 0
    height 120vh
    background-color rgba(0,0,0,0.5)
    z-index 997
    will-change opacity