table
    border-collapse collapse
    border-spacing 0
    width 100%
    display table
    &.striped
        & > tbody
            & > tr
                &:nth-child(odd)
                    background-color #f2f2f2
                & > td
                    border-radius 0
    &.highlight
        & > tbody
            & > tr
                transition background-color 0.25s ease
                &:hover
                    background-color #f2f2f2

td,
th
    padding 0
    padding 15px 5px
    display table-cell
    text-align left
    vertical-align middle
    border-radius 2px

html
    box-sizing border-box

*,
*:before,
*:after
    box-sizing inherit

table,
th,
td
    border none

table.bordered > thead > tr,
table.bordered > tbody > tr
    border-bottom 1px solid #d0d0d0

table.centered thead tr th,
table.centered tbody tr td
    text-align center

thead
    border-bottom 1px solid #d0d0d0

@media only screen and (max-width 992px)
	table
    &.responsive-table
        width 100%
        border-collapse collapse
        border-spacing 0
        display block
        position relative
        td
            display block
            min-height 1.25em
            text-align left
            &:empty
                &:before
                    content '\00a0'
        th
            text-align left
            display block
            text-align right
        thead
            display block
            float left
            border 0
            border-right 1px solid #d0d0d0
            tr
                display block
                padding 0 10px 0 0
                th
                    &::before
                        content "\00a0"
        tbody
            display block
            width auto
            position relative
            overflow-x auto
            white-space nowrap
            tr
                display inline-block
                vertical-align top
        tr
            padding 0 10px
        &.bordered
            th
                border-bottom 0
                border-left 0
            td
                border-left 0
                border-right 0
                border-bottom 0
            tr
                border 0
            tbody
                tr
                    border-right 1px solid #d0d0d0

	table.responsive-table th,
	table.responsive-table td
		margin 0
		vertical-align top